@import '../../styles/util.scss';

.container {
  display: flex;
  align-items: center;

  margin-top: 20px;
}
.todo {
  flex: 1;
  font-size: 24px;
  color: $color-light-black;

  &:hover {
    color: $color-grey;
    transition: color 0.2s;
  }
  cursor: pointer;
}
.todo_done {
  color: $color-grey;
  text-decoration: line-through;
  transition: all 0.2s;
}