@import '../../styles/util.scss';

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  font-size: 3.5em;
  margin: 0;
  color: #78D9FB;
}
.paragraph {
  font-size: 1.5em;
}
.icon {
  animation: rotation 10s infinite linear;
}